ipykernel
pandas
numpy
matplotlib
plotly
seaborn
scikit-learn
pymongo
from_root
dill
certifi
PyYAML
boto3
mypy-boto3-s3
botocore
fastapi
python-multipart
uvicorn
jinja2
imblearn
-e .

"""
🔍 Special Line: -e .

This means:

    “Install the project in editable mode using the setup.py file in the current directory (.).”

Editable mode:

    Lets you make code changes without reinstalling the package.

    Great for development: changes in src/ are reflected instantly.
"""